.backgroundContainer{
    display: flex;
    flex-direction: row;
}

.imagenFondo {
    width: auto;
    height: 100vh;
    min-width: 450px;
    min-height: 950px;
}

.backgroundCanvas{
    background-color: rgb(25, 25, 25);
    width: 72vw;
    height: 100%;
    position: absolute;
    right: 0px; 
    min-width: 950px;
    min-height: 950px;
    font-family: 'century gothic', sans-serif;
}

.propContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vh;
    margin-left: 5vw;
    border-radius: 10px;
    min-height: 800px;
    min-width: 800px;


    background-color: rgb(145,145,145);
    width: 62vw;
    height: 80vh;

    position: absolute;
}

.formTitle{
    font-size: 35px;
    font-weight: bold;
    color: rgb(231,231,231);
    margin: 10px;
    justify-self: left;
    width: 95%;
    margin-left: 35px;
    margin-top: 30px;
}

.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 80%;
}

.formContainerInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
}

.passwordContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    width: 100%;
}

.formInput{
    background-color: rgb(197,197,197);
    border: none;
    border-radius: 10px;
    font-size: 15px;
    padding: 20px;
    margin: 10px;
    color: rgb(212,79,79);
}

.formInput::placeholder{
    color: rgb(212,79,79);
}

.formInputCheckbox{
    background-color: rgb(197,197,197);
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    color: rgb(212,79,79);
}

.redRoundButton{
    background-color: rgb(212,79,79);
    border: none;
    border-radius: 9999px;
    padding: 20px;
    margin: 10px;
    margin-bottom: 30px;
    color: rgb(231,231,231);
    font-size: 20px;
    cursor: pointer;
    width: fit-content;
}

.checkboxInput {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(212,79,79);
    border-radius: 4px;
    margin-right: 8px;
    cursor: pointer;
    outline: none;
    position: relative;
  }

  .checkboxInput:checked {
    background-color: rgb(212,79,79);
  }

  .messageText {
    font-size: 17px;
    color: black;
    margin: 5px;
    justify-self: left;
    width: 95%;
    margin-left: 15px;
    margin-top: 20px;
  }
